btb-generated
btb_record
btb_conditional_record
btb_unconditional_record
btb_predecode_prefetch_record
btb_confluence_prefetch_record
btb_shotgun_prefetch_record
correct_fdip_result/ipc1_fdip_opt_shotgun_generate_result/
try
old_incorrect_fdip_result
inc/champsim_constants.h
#src/core_inst.cc
.champsimconfig_cache
Makefile

bin/
obj/

**/*.o
**/*.d

.idea
cmake-build-debug
cmake-build-release

*.bak

# files copied when running config.sh
branch/*.cc
prefetcher/*.cc
replacement/*.cc

xed_example
results_10M
ipc1_public
pt_traces/ipc1_public.tar.gz
pt_traces/trace.gz
pt_trace_parser/i_ip_len_instr.gz
intel_pt

.DS_Store
dpc3_traces
..bfg-report
